<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="63086bf4-75f2-4ca8-9dc7-b7f145eb21f6" value="Data Source=.;Initial Catalog=NorthwindTest; Connect Timeout=120;Integrated Security=SSPI;Persist Security Info=False;Packet Size=4096" />
  </appSettings>
</configuration>