<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ad8805b4-e861-45bf-8545-6600f98bc84f" value="Data Source=.;Initial Catalog=NorthwindTest; Connect Timeout=120;Integrated Security=SSPI;Persist Security Info=False;Packet Size=4096" />
  </appSettings>
</configuration>