<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="6fb29ab7-2472-4239-b818-d8497b0732f4" value="Data Source=.;Initial Catalog=NorthwindTest; Connect Timeout=120;Integrated Security=SSPI;Persist Security Info=False;Packet Size=4096" />
  </appSettings>
</configuration>