
@{
    ViewBag.Title = "Suppliers Index";
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div id = "list">
        <h2 style = "text-align:center">Suppliers List</h2>
      <a href = "#" onclick="showedit(-1, true)">Add new item</a>
      <table class="table input-sm">
            <thead id = "listhead">
                <tr>
					<th valign="top">
						Supplier ID
					</th>
					<th valign="top">
						Company Name
					</th>
					<th valign="top">
						Contact Name
					</th>
					<th valign="top">
						Contact Title
					</th>
					<th valign="top">
						Address
					</th>
					<th valign="top">
						City
					</th>
					<th valign="top">
						Region
					</th>
					<th valign="top">
						Postal Code
					</th>
					<th valign="top">
						Country
					</th>
					<th valign="top">
						Phone
					</th>
					<th valign="top">
						Fax
					</th>
					<th valign="top">
						Home Page
					</th>
                  <th></th>
                </tr>
            </thead>
            <tbody id="listbody"></tbody>
        </table>
        <ul class="pagination">
        </ul>
    </div>
    <br />
  <div id="edit" >
        <h2 style = "text-align:center" id="formcaption">Edit Form</h2>
        <form role="form" class="form-horizontal" id="editDetailForm" name="editDetailForm" >
            <label hidden id="hiddenid" class="col-lg-12"></label>
            <div class="col-sm-12" >
                <div class="form-group form-group-sm" >
                    <label class="col-sm-3 control-label" ></label>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "SupplierID" class="col-sm-3 control-label">SupplierID</label>
                    <div class="col-sm-9">
                        <input type="text" id="SupplierID" name="SupplierID" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "CompanyName" class="col-sm-3 control-label">CompanyName</label>
                    <div class="col-sm-9">
                        <input type="text" id="CompanyName" name="CompanyName" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "ContactName" class="col-sm-3 control-label">ContactName</label>
                    <div class="col-sm-9">
                        <input type="text" id="ContactName" name="ContactName" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "ContactTitle" class="col-sm-3 control-label">ContactTitle</label>
                    <div class="col-sm-9">
                        <input type="text" id="ContactTitle" name="ContactTitle" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "Address" class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                        <input type="text" id="Address" name="Address" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "City" class="col-sm-3 control-label">City</label>
                    <div class="col-sm-9">
                        <input type="text" id="City" name="City" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "Region" class="col-sm-3 control-label">Region</label>
                    <div class="col-sm-9">
                        <input type="text" id="Region" name="Region" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "PostalCode" class="col-sm-3 control-label">PostalCode</label>
                    <div class="col-sm-9">
                        <input type="text" id="PostalCode" name="PostalCode" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "Country" class="col-sm-3 control-label">Country</label>
                    <div class="col-sm-9">
                        <input type="text" id="Country" name="Country" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "Phone" class="col-sm-3 control-label">Phone</label>
                    <div class="col-sm-9">
                        <input type="text" id="Phone" name="Phone" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "Fax" class="col-sm-3 control-label">Fax</label>
                    <div class="col-sm-9">
                        <input type="text" id="Fax" name="Fax" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "HomePage" class="col-sm-3 control-label">HomePage</label>
                    <div class="col-sm-9">
                        <input type="text" id="HomePage" name="HomePage" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <a href = '#' onclick='update()' id="updatebtn"> Update</a>
                        <a href = '#' onclick='canceledit()'>Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
        
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js" ></script>
<script src = "@Url.Content("~/SampleScripts/Suppliers.js")" type= "text/javascript" ></script>

