<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="b5b71261-af47-4511-aea0-77f3b1c002d8" value="Data Source=.;Initial Catalog=NorthwindTest; Connect Timeout=120;Integrated Security=SSPI;Persist Security Info=False;Packet Size=4096" />
  </appSettings>
</configuration>