
@{
    ViewBag.Title = "Products Index";
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div id = "list">
        <h2 style = "text-align:center">Products List</h2>
      <a href = "#" onclick="showedit(-1, true)">Add new item</a>
      <table class="table input-sm">
            <thead id = "listhead">
                <tr>
					<th valign="top">
						Product ID
					</th>
					<th valign="top">
						Product Name
					</th>
					<th valign="top">
						Supplier ID
					</th>
					<th valign="top">
						Category ID
					</th>
					<th valign="top">
						Quantity Per Unit
					</th>
					<th valign="top">
						Unit Price
					</th>
					<th valign="top">
						Units In Stock
					</th>
					<th valign="top">
						Units On Order
					</th>
					<th valign="top">
						Reorder Level
					</th>
					<th valign="top">
						Discontinued
					</th>
                  <th></th>
                </tr>
            </thead>
            <tbody id="listbody"></tbody>
        </table>
        <ul class="pagination">
        </ul>
    </div>
    <br />
  <div id="edit" >
        <h2 style = "text-align:center" id="formcaption">Edit Form</h2>
        <form role="form" class="form-horizontal" id="editDetailForm" name="editDetailForm" >
            <label hidden id="hiddenid" class="col-lg-12"></label>
            <div class="col-sm-12" >
                <div class="form-group form-group-sm" >
                    <label class="col-sm-3 control-label" ></label>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "ProductID" class="col-sm-3 control-label">ProductID</label>
                    <div class="col-sm-9">
                        <input type="text" id="ProductID" name="ProductID" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "ProductName" class="col-sm-3 control-label">ProductName</label>
                    <div class="col-sm-9">
                        <input type="text" id="ProductName" name="ProductName" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "SupplierID" class="col-sm-3 control-label">SupplierID</label>
                    <div class="col-sm-9">
                        <input type="text" id="SupplierID" name="SupplierID" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "CategoryID" class="col-sm-3 control-label">CategoryID</label>
                    <div class="col-sm-9">
                        <input type="text" id="CategoryID" name="CategoryID" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "QuantityPerUnit" class="col-sm-3 control-label">QuantityPerUnit</label>
                    <div class="col-sm-9">
                        <input type="text" id="QuantityPerUnit" name="QuantityPerUnit" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "UnitPrice" class="col-sm-3 control-label">UnitPrice</label>
                    <div class="col-sm-9">
                        <input type="text" id="UnitPrice" name="UnitPrice" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "UnitsInStock" class="col-sm-3 control-label">UnitsInStock</label>
                    <div class="col-sm-9">
                        <input type="text" id="UnitsInStock" name="UnitsInStock" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "UnitsOnOrder" class="col-sm-3 control-label">UnitsOnOrder</label>
                    <div class="col-sm-9">
                        <input type="text" id="UnitsOnOrder" name="UnitsOnOrder" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "ReorderLevel" class="col-sm-3 control-label">ReorderLevel</label>
                    <div class="col-sm-9">
                        <input type="text" id="ReorderLevel" name="ReorderLevel" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "Discontinued" class="col-sm-3 control-label">Discontinued</label>
                    <div class="col-sm-9">
                        <input type="text" id="Discontinued" name="Discontinued" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <a href = '#' onclick='update()' id="updatebtn"> Update</a>
                        <a href = '#' onclick='canceledit()'>Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
        
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js" ></script>
<script src = "@Url.Content("~/SampleScripts/Products.js")" type= "text/javascript" ></script>

